body {
    overflow-y: scroll;
    background-color: #1d1d1d;
}

#flex-container {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    justify-content: center;
}

#top-container {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 56px;
    top: 0%;
    z-index: 2019;
}

#center-top-container {
    width: 600px;
    height: 100%;
    background-color: #272727de;
    border-radius: 0 0 15px 15px;
}

#search-container {
    position: relative;
    width: 414px;
    height: 26px;
    top: 15px;
    left: 93px;
}

#search-input {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #111111;
    border: 1px solid #333333;
    color: #cccccc;
    font-size: large;
    padding-left: 6px;
    border-radius: 5px;
}

#settings {
    position: absolute;
    width: 36px;
    height: 36px;
    right: 36px;
    top: 12px;
}

#settings-icon {
    fill: #ffffff;
}

#settings-icon:hover {
    fill: #dd0000;
}

#settings-menu {
    position: fixed;
    display: none;
    width: 192px;
    height: 96px;
    right: 36px;
    top: 56px;
    background-color: grey;
    z-index: 99;
}

#settings-menu li {
    position: relative;
    display: block;
    height: 32px;
    padding: 8px 8px;
    text-decoration: none;
    background-color: #272727;
    color: white;
}

#settings-menu li:hover {
    background-color: rgb(90, 90, 90);
}

#content-container {
    position: absolute;
    width: 600px;
    top: 56px;
    padding-bottom: 24px;
}

#plus {
    position: absolute;
    width: 36px;
    height: 36px;
    right: 84px;
    top: 12px;
}

#plus-icon {
    fill: white;
}

#plus-icon:hover {
    fill: #ee0000;
}


#sort {
    position: relative;
    width: 36px;
    height: 36px;
    left: 540px;
    bottom: 14px;
}

#sort-icon {
    fill: white;
}

#sort-icon:hover {
    fill: #ee0000;
}

#sort-types {
    position: fixed;
    display: none;
    width: 256px;
    height: 240px;
    bottom: 64px;
    background-color: orange;
    z-index: 10;
}

#sort-types #title {
    position: relative;
    display: block;
    height: 32px;
    padding: 8px 8px;
    text-decoration: none;
    background-color: rgb(170, 50, 0);
}

ul {
    display: block;
    list-style: none; 
    margin: 0; 
    padding: 0;
}

#sort-types li {
    position: relative;
    display: block;
    color: black;
    height: 32px;
    padding: 8px 8px;
    text-decoration: none;
}

#sort-types li:hover {
    background-color: orangered;
}

#add-container {
    position: fixed;
    display: block;
    width: 256px;
    height: auto;
    bottom: 64px;
    background-color: darkorange;
    display: none;
}

#add-container #title {
    position: relative;
    display: block;
    height: 32px;
    padding: 8px 8px;
    text-decoration: none;
    background-color: rgb(170, 50, 0);
}

#add-container #bottom {
    position: relative;
    display: block;
    height: 32px;
    padding: 8px 8px;
    text-decoration: none;
    background-color: rgb(170, 50, 0);
}

#add-accept {
    position: absolute; 
    display: block;
    width: 112px;
    height: 28px;
    left: 72px;
}

#add-container li {
    position: relative;
    display: block;
    color: black;
    height: 32px;
    padding: 8px 8px;
    text-decoration: none;
}

#add-container input {
    position: absolute;
    display: inline-block;
    right: 8px;
    width: 112px;
}

#add-container input:invalid {
    background-color: red;
    border: 1px solid red;
    color: white;
}

.input-error {
    position: absolute;
    display: inline-block;
    width: 100%;
    left: 256px;
    padding: 0;
    font-size: 80%;
    color: white;
    background-color: #900;
    border-radius: 0 0 5px 5px;
}

#change-container {
    width: 100%;
    border-top: 1px solid #111111;
}

#change-container li {
    position: relative;
    display: block;
    color: black;
    min-height: 24px;
    padding: 6px 6px;
    text-decoration: none;
}

#change-container input {
    position: absolute; 
    display: inline-block;
    right: 8px;
    width: 112px;
}

#change-container #bottom {
    position: relative;
    display: block;
    height: 32px;
    padding: 8px 8px;
    text-decoration: none;
}

#change-ok {
    position: absolute; 
    display: block;
    width: 118px;
    height: 28px;
    right: 8px;
}

#change-container input:invalid {
    background-color: #ee0000;
    border: 1px solid #ee0000;
    color: white;
}

.card {
    position: relative;
    min-height: 100px;
    height: auto;
    margin: 15px;
    overflow-y: hidden;
    background-color: #cccccc;
    border: 2px solid #1d1d1d;
    border-radius: 5px;
}

.card:hover {
    background-color: #eeeeee;
    border: 2px solid #eeeeee;
}

.card-name {
    position: relative;
    width: auto;
    left: 8px;
    top: 8px;
    margin-right: 52px;
    font-size: 1.5rem;
    text-align: center;
    word-break: break-all;
}

.card-table {
    position: relative; 
    width: 100%;
    bottom: 0px;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
    table-layout: fixed;
}

.card-cross {
    position: absolute;
    width: 28px;
    height: 28px;
    right: 8px;
    top: 8px;
}

.card-cross-svg:hover {
    fill: #ee0000;
}