body {
    padding-top: 4.5rem;
    background-color: #1f1f1f;
    overflow-y: scroll;
}


.navbar {
    background-color: #282828fd;
}


.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}


.nav-link:hover {
    cursor: pointer;
}


.dropdown-menu {
    background-color: #282828;
}


.dropdown-item {
    color: #fff;
    cursor: pointer;
}


.dropdown-item:focus, .dropdown-item:hover {
    color: #fff;
    background-color: #3e3e3e;
}


.list-group-item-action {
    cursor: pointer;
}


#search {
    color: #dddddd;
    background-color: #121212;
    border-color: #393939;
}


#search:focus {
    border-color: #fff;
    box-shadow: 0 0;
}


.container {
    max-width: 720px;
}


.card {
    width: 100%;
    margin-bottom: 24px;
    background-color: #eeeeee;
    
    /* color: white; */
    /* background: repeating-linear-gradient(45deg, #d3d00d, #d3d00d 45px, #212215 45px, #212215 90px); */
}


.card:hover {
    background-color: #ffffff;
}


.card > .collapse, .card > .collapsing {
    border-top: 1px solid #ababab;
}


.card.warning {
    background-color: #ffc107;
}


.card.warning:hover {
    background-color: #ffd207;
}


.card-header > .col {
    font-size: 1.5rem;
    padding: 0;
}


.card-header.row, .card-body.row {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
}


.close {
    font-size: 1.8rem;
    margin-top: -1%;
    margin-right: 1%;
}