body {
    padding-top: 4.5rem;
    background-color: #1f1f1f;
    overflow-y: scroll;
}

.navbar {
    background-color: #282828fd;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

.nav-link:hover {
    cursor: pointer;
}

.dropdown-menu {
    background-color: #282828;
}

.dropdown-item {
    color: #fff;
    cursor: pointer;
}

.dropdown-item:focus, .dropdown-item:hover {
    color: #fff;
    background-color: #3e3e3e;
}

.list-group-item-action {
    cursor: pointer;
}

#search {
    color: #dddddd;
    background-color: #121212;
    border-color: #393939;
}

#search:focus {
    border-color: #fff;
    box-shadow: 0 0;
}

.close {
    font-size: xx-large;
}

.container {
    min-width: 720px;
}
.card {
    min-width: 630px;
    width: 720px;
    margin-bottom: 24px;
    background-color: #eeeeee;
}

.card:hover {
    background-color: #ffffff;
}

.card > .collapse, .collapsing {
    border-top: 1px solid #ababab;
}