$default-background: #141414;
$default-text: white;
$default-shadow: black;
$gray: #555;
$dark-background: black;
$transparent-background: transparent;
$dark-gray-tr: #282828fd;
$dark-gray-hover-tr: #3e3e3edf;
$dark-border: #393939;
$light-border: white;
$white-tr: #fffd;
$red: red;
$light-red: #f22d;
$dark-red: #900f;

$dark-gradient-for-item-title: (rgba(0, 0, 0, 0.7) 0%,
                                rgba(0, 0, 0, 0.3) 15%,
                                transparent        20%);
$dark-gradient-for-item: (rgba(0, 0, 0, 0.7) 0%,
                          rgba(0, 0, 0, 0.6) 15%);

$dark-gradient-for-fullitem: (black              40%,
                              rgba(0, 0, 0, 0.8) 50%,
                              rgba(0, 0, 0, 0.4) 55%,
                              transparent        60%);

$button-background: (transparent, #fff3, white);
$button-text: (white, white, black);
$button-border: (#fff5, #fff9, white);

$a-text: #007bff;
$a-text-hover: #0056b3;

$body-background: $default-background;

$navbar-background: $dark-gray-tr;
$navbar-text: $default-text;
$navbar-logo-text: $default-text;
$navbar-nav-item-hover: $white-tr;
$navbar-search-background: $default-background;
$navbar-search-border: $dark-border;
$navbar-search-border-hover: $light-border;
$navbar-search-text: $default-text;
$navbar-search-list-background: $dark-gray-tr;
$navbar-search-list-text: $default-text;
$navbar-search-list-background-hover: $dark-gray-hover-tr;
$navbar-search-list-text-hover: $default-text;
$navbar-submenu-background: $dark-gray-tr;
$navbar-submenu-border: $dark-border;
$navbar-submenu-text: $default-text;
$navbar-submenu-background-hover: $dark-gray-hover-tr;
$navbar-submenu-text-hover: $default-text;

$item-background: $dark-background;
$item-shadow: $default-shadow;
$item-shadow-hover: $default-shadow;
$item-gradient: linear-gradient(to top, $dark-gradient-for-item-title);
$item-not-active-hover-gradient: linear-gradient(to top, $dark-gradient-for-item);
$item-active-border: $light-border;
$item-name: $default-text;
$item-info: $default-text;
$item-link: $white-tr;
$item-link-hover: $default-text;

$h-container-shadow: $default-shadow;
$h-container-title: $default-text;
$h-container-button-hover: $white-tr;
$h-container-grid-button: $white-tr;
$h-container-grid-button-hover: $default-text;

$fullitem-background: $dark-background;
$fullitem-shadow: $default-shadow;
$fullitem-close: $gray;
$fullitem-close-hover: $dark-red;
$fullitem-gradient: linear-gradient(to right, $dark-gradient-for-fullitem);
$fullitem-list-background: $dark-gray-tr;
$fullitem-list-text: $default-text;
$fullitem-list-hover: $dark-gray-hover-tr;
$fullitem-invalid-background: $light-red;
$fullitem-invalid-text: $default-text;
$fullitem-error: $red;
$fullitem-input-background: $transparent-background;
$fullitem-input-text: $default-text;
$fullitem-input-border: $light-border;
$fullitem-content-text: $default-text;
$fullitem-button-background: nth($button-background, 1);
$fullitem-button-text: nth($button-text, 1);
$fullitem-button-border: nth($button-border, 1);
$fullitem-button-background-hover: nth($button-background, 2);
$fullitem-button-text-hover: nth($button-text, 2);
$fullitem-button-border-hover: nth($button-border, 2);
$fullitem-button-background-active: nth($button-background, 3);
$fullitem-button-text-active: nth($button-text, 3);
$fullitem-button-border-active: nth($button-border, 3);
$fullitem-tooltip-background: $dark-gray-hover-tr;
$fullitem-tooltip-text: $default-text;
