@mixin border($color, $width: 1px) {
    border: $width solid $color;
}

@mixin color($back: initial, $text: initial) {
    background-color: $back;
    color: $text;
}

@mixin wh($width: initial, $height: initial) {
    width: $width;
    height: $height;
}