html {
    font-size: 16px;
}

body {
    @include color($body-background);
    font-family: Roboto, "Segoe UI", sans-serif;
    overflow-y: scroll;
    padding-top: 3rem;
}

main {
    padding-bottom: 1.5rem;
}

button, a {
    outline: none !important;
}

a {
    @include color($text: $a-text);
    text-decoration: none;

    &:hover {
        @include color($text: $a-text-hover);
        text-decoration: underline;
    }
}

textarea {
    resize: none;
}

input, textarea, select {
    width: 100%;
    outline: none !important;
}

html, textarea {
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }
}

.hide {
    display: none !important;
}

button {
    @include color($default-button-background, $default-button-text);
    @include border($default-button-border);
    border-radius: 0.3rem;
    cursor: pointer;
    user-select: none;

    &:hover {
        @include color($default-button-background-hover, $default-button-text-hover);
        border-color: $default-button-border-hover;
    }

    &:active {
        @include color($default-button-background-active, $default-button-text-active);
        border-color: $default-button-border-active;
    }
}
