dialog {
    position: fixed;
    top: 6rem;
    color: white;
    background-color: #141414;
    border: 2px solid black;
    border-radius: 0.4rem;
}

dialog::backdrop {
    background-color: #000b;
}

dialog > .title {
    padding: 0.5rem 0.5rem 1.5rem 0.5rem;
    font-size: 1.15rem;
    user-select: none;
}

dialog > .button-container {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

dialog > .button-container > button {
    min-width: 6rem;
    margin-left: 1rem;
    padding: 0.3rem 0.7rem;
    font-size: 1rem;
}

dialog > .outer-close {
    position: absolute;
    right: 0.5rem;
    top: 0;
    z-index: 5;
    color: #555;
}

dialog > .outer-close:hover {
    color: #900f;
}

dialog > .outer-close > .close {
    text-shadow: none;
    cursor: pointer;
    font-size: 2rem;
    user-select: none;
}

dialog > .outer-close {
    position: absolute;
    right: 0.4rem;
    top: 0;
    z-index: 5;
    color: #555;
}

dialog > .outer-close:hover {
    color: #900f;
}

dialog > .outer-close > .close {
    text-shadow: none;
    cursor: pointer;
    font-size: 2rem;
    user-select: none;
}
