.fullitem {
    position: relative;
    @include wh(100%, 32rem);
    @include color($fullitem-background);
    margin: 0;
    padding: 0;
    overflow: hidden;

    &:first-of-type {
        box-shadow: 0 0 1rem $fullitem-shadow;
    }

    > .outer-close {
        position: absolute;
        right: 0.4rem;
        top: 0.2rem;
        z-index: 5;
        @include color($text: $fullitem-close);

        &:hover {
            @include color($text: $fullitem-close-hover);
        }

        > .close {
            text-shadow: none;
            cursor: pointer;
            font-size: 1.8rem;
            user-select: none;
        }
    }

    > .background {
        > .image {
            position: absolute;
            @include wh(100%, 100%);
            right: 0;
            background-size: auto 100%;
            background-position: right;
            background-repeat: no-repeat;
        }

        > .gradient {
            position: absolute;
            @include wh(100%, 100%);
            right: 0;
            background: $fullitem-gradient;
        }
    }

    > .content {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @include wh(50%);
        margin: 0.5rem 0 1rem 1rem;
        @include color($text: $fullitem-content-text);
        bottom: 0;
        top: 0;

        > .top {
            display: flex;
            @include wh($height: 6rem);
            margin-bottom: 1rem;

            > .name-title {
                font-size: 1.5rem;
                overflow: hidden;
                word-wrap: break-word;

                &::selection {
                    color: black;
                    background-color: white;
                }
            }
        }

        > .general {
            display: flex;
            flex-direction: column;
            @include wh(75%, 100%);
            justify-content: space-between;
            margin-top: 0.5rem;

            .row {
                display: flex;
                justify-content: flex-start;
                min-height: 2.6rem;
            }

            > .input-container {
                > .row {
                    > .label {
                        min-width: 8rem;
                        padding: 0.5rem 0;
                        user-select: none;
                    }

                    > .value {
                        @include wh(100%);
                        word-wrap: break-word;
                        padding: 0.5rem 0;

                        &::selection {
                            color: black;
                            background-color: white;
                        }
                    }

                    > .input {
                        min-width: 16rem;
                        @include wh(100%);

                        input::selection, textarea::selection, select::selection, option::selection {
                            color: black;
                            background-color: white;
                        }

                        > label {
                            > select {
                                -webkit-appearance: none;
                                -moz-appearance: none;
                                appearance: none !important;

                                > option {
                                    @include color($fullitem-list-background, $fullitem-list-text);
                                }
                            }
                        }

                        > .invalid-tooltip {
                            position: absolute;
                            z-index: 5;
                            display: none;
                            padding: 0.25rem 0.5rem;
                            margin-top: 0.1rem;
                            font-size: 0.8rem;
                            line-height: 1.5;
                            border-radius: 0.25rem;
                            @include color($fullitem-invalid-background, $fullitem-invalid-text);
                        }
                    }
                }
            }

            > .button-container {
                margin-top: 1rem;

                > div {
                    margin: auto 2rem auto 0;

                    > button {
                        min-width: 9.5rem;
                        padding: 0.4rem 1rem;
                    }
                }
            }
        }
    }

    .fullitem-input {
        box-sizing: border-box;
        @include border($fullitem-input-border);
        @include color($fullitem-input-background, $fullitem-input-text);
        padding: 0.3rem 0.25rem;
        border-radius: 0.2rem;
        box-shadow: none;

        &:invalid, &.error {
            @include border($fullitem-error);
            @include color($text: $fullitem-error);
        }

        &.error ~ .invalid-tooltip {
            display: block !important;
        }
    }
}
