.hlist-container {
    position: relative;
    display: none;
    padding-bottom: 0.75rem;
    margin-top: 0.75rem;
    border-bottom: 1px solid #ffffff0a;

    > .title {
        width: max-content;
        position: relative;
        font-size: 1.4rem;
        color: white;
        left: 1rem;
        user-select: none;
    }

    > .outer-container-list {
        position: relative;

        > .outer-list {
            position: relative;
            display: flex;
            overflow: auto;
            scrollbar-width: none;

            &::-webkit-scrollbar {
                display: none;
            }

            > .list {
                display: flex;
                flex-direction: row;
            }
        }

        > .left-icon-control, > .right-icon-control {
            display: flex;
            position: absolute;
            width: 5rem;
            justify-content: center;
            align-items: center;
            top: 0;
            bottom: 0;
            cursor: pointer;
            z-index: 1;
        }

        > .left-icon-control:hover, > .right-icon-control:hover {
            background-color: #fffc;
        }

        > .left-icon-control {
            left: 0;
            mask: url('data:image/svg+xml,%3csvg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"%3e%3cpath d="M14.71 15.88L10.83 12l3.88-3.88c.39-.39.39-1.02 0-1.41-.39-.39-1.02-.39-1.41 0L8.71 11.3c-.39.39-.39 1.02 0 1.41l4.59 4.59c.39.39 1.02.39 1.41 0 .38-.39.39-1.03 0-1.42z"/%3e%3c/svg%3e') no-repeat 50% 50%;
            mask-size: 3rem;
        }

        > .right-icon-control {
            right: 0;
            mask: url('data:image/svg+xml,%3csvg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"%3e%3cpath d="M9.29 15.88L13.17 12 9.29 8.12c-.39-.39-.39-1.02 0-1.41.39-.39 1.02-.39 1.41 0l4.59 4.59c.39.39.39 1.02 0 1.41L10.7 17.3c-.39.39-1.02.39-1.41 0-.38-.39-.39-1.03 0-1.42z"/%3e%3c/svg%3e') no-repeat 50% 50%;
            mask-size: 3rem;
        }
    }
}
