$transition: 150ms cubic-bezier(0.46, 0.03, 0.52, 0.96);

.item-outer {
    display: inline-block;
    @include wh(auto, min-content);
    margin: 0.5rem 0.5rem;
    box-sizing: border-box;
    box-shadow: 0 0 0.4rem 0.01rem $item-shadow;
    transition: $transition;
    cursor: pointer;

    &:hover, &.active {
        box-shadow: 0 0 0.6rem 0.1rem $item-shadow-hover;
    }

    &:hover:not(.active) {
        transform: scale(1.02);

        > .item {
            > .image {
                filter: blur(2px);
            }

            > .gradient {
                background: $item-not-active-hover-gradient;
                filter: blur(2px);
            }

            > .info {
                display: flex;
            }

            > .link {
                display: block;
            }
        }
    }

    &.active {
        > .item {
            @include border($item-active-border, 1.8px);
            box-sizing: border-box;
        }
    }

    &.active > .item:after {
        position: absolute;
        content: "";
        @include wh(0.6rem, 0.6rem);
        transform: rotate(-45deg);
        background: linear-gradient(45deg, $item-active-border 50%, transparent 50%);
        bottom: -0.35rem;
    }

    > .item {
        position: relative;
        display: flex;
        justify-content: center;
        @include color($item-background);

        .two & {
            @include wh(calc(50.0vw - 1.05rem), calc(0.5625 * (50.0vw - 1.05rem)));

            &, > .image, > .gradient {
                border-radius: 1.0rem;
            }

            > .name {
                font-size: 1.4rem;
            }

            > .info {
                font-size: 1.05rem;

                > .row {
                    min-height: 1.6rem;
                }
            }
        }

        .three & {
            @include wh(calc(33.333vw - 1.05rem), calc(0.5625 * (33.333vw - 1.05rem)));

            &, > .image, > .gradient {
                border-radius: 0.875rem;
            }

            > .name {
                font-size: 1.3rem;
            }

            > .info {
                font-size: 0.95rem;

                > .row {
                    min-height: 1.5rem;
                }
            }
        }

        .four & {
            @include wh(calc(25.0vw - 1.05rem), calc(0.5625 * (25.0vw - 1.05rem)));

            &, > .image, > .gradient {
                border-radius: 0.75rem;
            }

            > .name {
                font-size: 1.25rem;
            }

            > .info {
                font-size: 0.875rem;

                > .row {
                    min-height: 1.4rem;
                }
            }
        }

        .five & {
            @include wh(calc(20.0vw - 1.05rem), calc(0.5625 * (20.0vw - 1.05rem)));

            &, > .image, > .gradient {
                border-radius: 0.625rem;
            }

            > .name {
                font-size: 1.2rem;
            }

            > .info {
                font-size: 0.825rem;

                > .row {
                    min-height: 1.3rem;
                }
            }
        }

        .six & {
            @include wh(calc(16.667vw - 1.05rem), calc(0.5625 * (16.667vw - 1.05rem)));

            &, > .image, > .gradient {
                border-radius: 0.5rem;
            }

            > .name {
                font-size: 1.1rem;
            }

            > .info {
                font-size: 0.75rem;

                > .row {
                    min-height: 1.2rem;

                    > .label {
                        width: 3.5rem;
                    }
                }
            }

            > .link {
                @include wh(1.7rem, 1.7rem);
            }
        }

        .seven & {
            @include wh(calc(14.286vw - 1.05rem), calc(0.5625 * (14.286vw - 1.05rem)));

            &, > .image, > .gradient {
                border-radius: 0.4rem;
            }

            .name {
                font-size: 1.05rem;
            }

            > .info {
                font-size: 0.675rem;

                > .row {
                    min-height: 1.1rem;

                    > .label {
                        width: 3.0rem;
                    }
                }
            }

            > .link {
                @include wh(1.625rem, 1.625rem);
            }
        }

        .eight & {
            @include wh(calc(12.5vw - 1.05rem), calc(0.5625 * (12.5vw - 1.05rem)));

            &, > .image, > .gradient {
                border-radius: 0.325rem;
            }

            > .name {
                font-size: 0.975rem;
            }

            > .info {
                font-size: 0.6rem;

                > .row {
                    min-height: 1.0rem;

                    > .label {
                        width: 2.5rem;
                    }
                }
            }

            > .link {
                @include wh(1.5rem, 1.5rem);
            }
        }

        .nine & {
            @include wh(calc(11.111vw - 1.05rem), calc(0.5625 * (11.111vw - 1.05rem)));

            &, > .image, > .gradient {
                border-radius: 0.25rem;
            }

            .name {
                font-size: 0.9rem;
            }

            > .info {
                font-size: 0.55rem;

                > .row {
                    min-height: 0.95rem;

                    > .label {
                        width: 2.5rem;
                    }
                }
            }

            > .link {
                @include wh(1.4rem, 1.4rem);
            }
        }

        > .image {
            position: absolute;
            @include wh(100%, 100%);
            background-size: 100%;
            background-repeat: no-repeat;
            transition: $transition;
        }

        > .gradient {
            position: absolute;
            @include wh(100%, 100%);
            background: $item-gradient;
            transition: $transition;
        }

        > .link {
            display: none;
            position: absolute;
            @include wh(1.85rem, 1.85rem);
            top: 0.2rem;
            right: 0.2rem;
            mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M19.9805 2.9883A9.7067 9.7067 0 0019.871 3H15a1.006 1.006 0 00-.879.496 1.0095 1.0095 0 000 1.008c.1837.3124.5196.5.879.496h2.586l-9.293 9.293c-.2617.25-.3672.625-.2735.9726a.9898.9898 0 00.7149.7149c.3476.0937.7226-.0117.9726-.2735L19 6.414V9a1.006 1.006 0 00.496.879 1.0095 1.0095 0 001.008 0A1.006 1.006 0 0021 9V4.129a1.019 1.019 0 00-.246-.8087c-.1954-.2187-.4806-.3398-.7735-.332zM5 3c-1.0938 0-2 .9063-2 2v14c0 1.0938.9063 2 2 2h14c1.0938 0 2-.9063 2-2v-6a1.006 1.006 0 00-.496-.879 1.0095 1.0095 0 00-1.008 0A1.006 1.006 0 0019 13v6H5V5h6a1.006 1.006 0 00.879-.496 1.0095 1.0095 0 000-1.008A1.006 1.006 0 0011 3zm0 0"/></svg>') no-repeat 50% 50%;
            -webkit-mask-box-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M19.9805 2.9883A9.7067 9.7067 0 0019.871 3H15a1.006 1.006 0 00-.879.496 1.0095 1.0095 0 000 1.008c.1837.3124.5196.5.879.496h2.586l-9.293 9.293c-.2617.25-.3672.625-.2735.9726a.9898.9898 0 00.7149.7149c.3476.0937.7226-.0117.9726-.2735L19 6.414V9a1.006 1.006 0 00.496.879 1.0095 1.0095 0 001.008 0A1.006 1.006 0 0021 9V4.129a1.019 1.019 0 00-.246-.8087c-.1954-.2187-.4806-.3398-.7735-.332zM5 3c-1.0938 0-2 .9063-2 2v14c0 1.0938.9063 2 2 2h14c1.0938 0 2-.9063 2-2v-6a1.006 1.006 0 00-.496-.879 1.0095 1.0095 0 00-1.008 0A1.006 1.006 0 0019 13v6H5V5h6a1.006 1.006 0 00.879-.496 1.0095 1.0095 0 000-1.008A1.006 1.006 0 0011 3zm0 0"/></svg>');
            mask-size: 1.85rem;
            @include color($item-link);
            transition: $transition;
            z-index: 2;

            &:hover {
                @include color($item-link-hover);
            }
        }

        > .info {
            position: absolute;
            display: none;
            flex-direction: column;
            @include wh(auto);
            padding-top: 2%;
            padding-left: 3%;
            left: 0;
            @include color($text: $item-info);
            user-select: none;
            font-size: 0.95rem;
            transition: $transition;

            > .row {
                display: flex;
                justify-content: flex-start;
                min-height: 1.5rem;
                z-index: 1;

                > .label {
                    width: 4rem;
                }

                > .value {
                    width: auto;
                }
            }
        }

        > .name {
            position: absolute;
            bottom: 3%;
            left: 2%;
            right: 2%;
            @include color($text: $item-name);
            font-size: 1.35rem;
            text-overflow: ellipsis;
            overflow: hidden;
            user-select: none;
            white-space: nowrap;
        }
    }

    .two & {
        border-radius: 1.0rem;
    }

    .three & {
        border-radius: 0.875rem;
    }

    .four & {
        border-radius: 0.75rem;
    }

    .five & {
        border-radius: 0.625rem;
    }

    .six & {
        border-radius: 0.5rem;
    }

    .seven & {
        border-radius: 0.375rem;
    }

    .eight & {
        border-radius: 0.25rem;
    }

    .nine & {
        border-radius: 0.125rem;
    }
}
