.language-dialog {
    width: 500px;
}

#languageList {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-bottom: 0.5rem;

    > div {
        padding: 0.5rem 1rem;
        cursor: pointer;
        border-radius: 0.3rem;

        &:hover {
            background-color: #fff1;
        }

        &.active {
            background-color: #fff3;
            font-weight: bold;
        }
    }
}
