.navbar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    z-index: 1000;
    width: 100%;
    height: 3rem;
    box-sizing: border-box;
    top: 0;
    padding-inline: 1rem;
    font-family: "Segoe UI", Roboto, Arial, sans-serif;
    user-select: none;
    background-color: var(--color-surface);
    color: white;

    > .nav-item {
        margin-block: auto;

        > .logo {
            font-size: 1.3rem;
            font-family: "Segoe UI", Arial, sans-serif;
            cursor: pointer;
        }

        &.search-container {
            position: relative;
            width: 30rem;
            margin: auto 3rem;

            > .close {
                position: absolute;
                right: 0.3rem;
                top: 0;
                bottom: 0;
                margin: 0.2rem;
                font-size: 1.25rem;
                cursor: pointer;
                background-color: var(--color-background);
                color: var(--color-muted);

                &:hover, &:focus-visible {
                    color: white;
                }
            }

            > .search {
                background-color: var(--color-background);
                color: white;
                border: 1px solid var(--color-border);
                border-radius: 0.3rem;
                line-height: 1.4rem;
                padding: 0.2rem 1.85rem 0.2rem 0.5rem;
                box-sizing: border-box;
                width: 100%;

                &:focus {
                    border-color: white;
                }

                &:focus ~ .search-list {
                    display: block !important;
                }

                &:placeholder-shown ~ .close {
                    display: none;
                }

                &::selection {
                    color: black;
                    background-color: white;
                }
            }

            > .search-list {
                position: fixed;
                display: none;
                width: 30rem;
                max-height: 25rem;
                box-sizing: border-box;
                overflow-y: auto;
                background-color: var(--color-surface);

                > .search-item {
                    overflow: hidden;
                    padding: 0.5rem;
                    cursor: pointer;

                    &.active {
                        background-color: var(--color-highlight);
                    }
                }
            }
        }
    }

    ul {
        display: flex;
        list-style: none;

        > li {
            position: relative;

            > button {
                all: unset;
                display: block;
                cursor: pointer;
                padding: 0 0.5rem;

                &:hover, &:focus-visible {
                    color: var(--color-white-dim);
                }
            }

            > .submenu-title::after {
                display: inline-block;
                margin-left: 0.25rem;
                vertical-align: 0.15rem;
                content: "";
                border-top: 0.3rem solid;
                border-right: 0.3rem solid transparent;
                border-left: 0.3rem solid transparent;
            }

            .submenu {
                position: absolute;
                z-index: 15;
                background-color: var(--color-surface);
                top: 1.8rem;
                right: 0;
                min-width: 10rem;
                border-radius: 0.3rem;
                border: 1px solid var(--color-border);
                padding: 0.5rem 0;

                > button {
                    all: unset;
                    display: block;
                    box-sizing: border-box;
                    width: 100%;
                    cursor: pointer;
                    padding: 0.4rem 1rem;
                    white-space: nowrap;
                    color: white;

                    &:hover, &:focus-visible {
                        background-color: var(--color-highlight);
                    }
                }
            }
        }
    }
}
